@model Comment

@using (@Html.BeginForm("New", "Comments", FormMethod.Post, new { id = "NewCommentForm" }))
{
  @Html.AntiForgeryToken()

  <div class="">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.TopicId)

    <div class="form-group">
      @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label sr-only" }, labelText: "Add a new comment")
      <div class="input-group">
        @Html.TextBoxFor(model => model.Message, new { @class = "form-control", placeholder = "Comment on this topic...", required = "required" })
        <span class="input-group-btn">
          <input type="submit" value="Post" class="btn btn-primary" />
        </span>
      </div><!-- /input-group -->
      @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
    </div>
  </div>
}


