@model TopicDetails

@{
  ViewBag.Title = "Details";
}

<div id="TopicDetails" class="">
  <h2 class="topic-title">
    @Model.Category by @Model.Username
    @if (Model.GravatarUrl != null)
    {
      <img alt="@Model.Username" class="gravatar" src="@Model.GravatarUrl" />
    }
  </h2>
  <div>
    <h3>
      @Model.Title
    </h3>
      <h4><small>Submitted on @Model.CreatedDate</small></h4>      
      <h4>Tags</h4>
      <div class="col-md-6">
          <input type="text" id="tags">
      </div>
  </div>
  <p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
  </p>
  @using (Html.BeginForm("UploadImage", "Topics", FormMethod.Post,new { enctype = "multipart/form-data" }))
  {
    <p>
      <b>Upload Image:</b><input type="file" name="file" class="btn btn-default" />
      <input type="submit" value="Upload" class="btn btn-default" />
                
    </p>
  }
  @Html.Partial("~/Views/Comments/_NewComment.cshtml", new Comment { TopicId = Model.Id })

  @Html.Action("Index", "Comments", new { id = Model.Id })

</div>       

@Scripts.Render("~/js/jquery")
@Scripts.Render("~/js")

<script>
    $('#tags').selectize({
        plugins: ['remove_button'], delimiter: ',',
        persist: false,
        create: function (input) {
            return {
                value: input,
                text: input
            }
        }
    });
</script>
