@model TopicDetails

@{
  ViewBag.Title = "Details";
}

<h2 class="topic-title">
  @Model.Category by @Model.Username
  @if (Model.GravatarUrl != null)
  {
    <img alt="@Model.Username" class="gravatar" src="@Model.GravatarUrl" />
  }
</h2>
<div>
  <h3>
    @Model.Title
  </h3>
  <h4><small>Submitted on @Model.CreatedDate</small></h4>
</div>
<p>
  @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
  @Html.ActionLink("Back to List", "Index")
</p>

@Html.Action("Index", "Comments", new { id = Model.Id })
