@using GotFeedback.Controllers
@model IEnumerable<TopicDetails>

@{
  ViewBag.Title = "Hot new topics";
}

  @if (!string.IsNullOrWhiteSpace(ViewBag.Search))
  {
      <h2 class="h3">
          Topics "@ViewBag.Search"
        @Html.ActionLink("See all", "Index", "Topics", null, new { @class = "btn btn-primary pull-right" })
      </h2>
  }
  else
  {
    <h2 class="h3">
      Hot new topics
    </h2>
  }
@using (Html.BeginForm("Index", "Topics", FormMethod.Get, new { @class = "" }))
{
  <div class="input-group">
    <input type="text" name="searchString" class="form-control" placeholder="search for a topic" required="required" />
    <span class="input-group-btn">
      <input type="submit" value="Search" class="btn btn-primary" />
    </span>
  </div>
}

<div class="row">
  <div class="col-md-4">
    <a href="@Url.Action("New" , "Topics")" class="btn btn-block btn-success">New topic <span class="glyphicon glyphicon-plus"></span></a>
  </div>
  <div class="col-md-4">
    <a href="@Url.Action("Index", "Topics", new { order = TopicsOrderBy.CreatedDate })" class="btn btn-block btn-primary">View newest <span class="glyphicon glyphicon-flash"></span></a>
  </div>
  <div class="col-md-4">
    <a href="@Url.Action("Index", "Topics", new { order = TopicsOrderBy.ViewCount })" class="btn btn-block btn-danger">View hottest <span class="glyphicon glyphicon-fire"></span></a>
  </div>
</div>

<div class="list-group">
  @foreach (var item in Model)
  {
    <a href="@Url.Action("Details", "Topics", new{item.Id})" class="list-group-item">
      <h4 class="list-group-item-heading">
        @item.Category by @(item.IsOwner ? "you" : string.IsNullOrWhiteSpace(item.Username) ? "anonymous" : item.Username)
        @if (item.GravatarUrl != null)
        {
          <img alt="@item.Username" class="gravatar" src="@item.GravatarUrl" />
        }
      </h4>
        <p class="list-group-item-text">@item.Title</p>
        <div>
            @foreach (var tag in item.TagLabels)
            {
                <span class="label label-default">@tag</span>
            }
        </div>
      <div class="btn-group" role="group">
        <div type="submit" class="btn btn-default addlike">
          <span class="likes">@item.LikesCount</span>&nbsp;<i class="glyphicon glyphicon-thumbs-up"></i>
        </div>
        <div type="button" class="btn btn-default" onclick="location.href='@Url.Action("AddLike", "Topics")'">
          <i class="fa fa-question"></i>
        </div>
        <div type="button" class="btn btn-default" onclick="location.href='@Url.Action("New", "Comments")'">
          <i class="fa fa-comment"></i>
        </div>

      </div>
    </a>
  }
</div>